.form {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 80px;
  height: 500px;
}

.form label {
  display: block;
  width: 100%;
  margin: 40px 0;
}

.form input {
  display: block;
  margin: 20px 0;
  padding: 10px 20px;
  border-radius: 5px;
  border: 0;
  background-color: rgb(48, 48, 48);
  width: 100%;
}

.form textarea {
  display: block;
  margin: 20px 0;
  padding: 10px 20px;
  border-radius: 5px;
  border: 0;
  background-color: rgb(48, 48, 48);
  resize: none;
  width: 100%;
  height: 100%;
}

.form button {
  display: block;
  width: 100%;
  margin: 40px 0;
  padding: 10px 20px;
  border-radius: 5px;
  border: 0;
  background-color: rgb(43, 196, 196);
  color: black;
  font-size: 1em;
  font-weight: 500;
}