.projects {
  text-align: center;
}

.projects h3 {
  text-align: center;
  margin: 20px auto 0px;
  font-weight: 500;
}

.projects p {
  color: #ccc;
  margin-top: 4px;
}

.projectimage picture {
  opacity: 0.6;
}

.projectimage {
  position: relative;
}

.projectinfo {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.projects a:hover picture {
  opacity: 0.4;
}