.weekEmpty {
    border-radius: 100%;
    border: min(0.2vw, 2.5px) solid white;
    width: 20%;
    height: min(calc(100vw * 0.065 * 0.2), calc(1200px * 0.065 * 0.2));
}

.weekFilled {
    border-radius: 100%;
    border: min(0.2vw, 2.5px) solid white;
    width: 20%;
    height: min(calc(100vw * 0.065 * 0.2), calc(1200px * 0.065 * 0.2));
    background-color: white;
}

.weekBlock {
    display: flex;
    justify-content: space-between;
    width: 6.5%;
}

.year {
    display: flex;
    justify-content: space-between;
    margin: min(0.32vw, 4px) 0px;
}

.yearBlock {
    margin: min(1.3vw, 16px) 0px;
}

